.mini-bows-list {
  background: #212020;
  color: #fff;
  display: grid;
  grid-template-columns: auto auto;
  padding: 0rem 1rem 1rem 1rem;
  grid-gap: 2rem;
}

.mini-bows-list ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: sans-serif;
  /* white-space: nowrap;
  overflow-x: auto; */
}

.mini-bows-list ul li {
  justify-self: center;
  text-transform: uppercase;
}

.mini-bows-list ul li img {
  display: block;
  height: 9.75rem;
  margin: 0 auto;
  width: auto;
  padding: 5px;
}

.mini-bows-list ul li a {
  color: #fff;
}

.mini-bows-list > section > h3 {
  margin: 0;
  padding: 1rem;
}

@media screen and (max-width: 1000px) {
  .mini-bows-list ul li {
    padding: 0  1rem 1rem 1rem;
    font-size: 80%;
  }

  .mini-bows-list ul li:nth-child(2n) {
    padding: 0 1rem 1rem 1rem;
    font-size: 80%;
  }
}

@media screen and (max-width: 950px) {
  .mini-bows-list {
    display: block;
  }
}


@media screen and (min-width: 768px) {
  .mini-bows-list ul {
    grid-template-columns: repeat(5, 1fr);
    margin: 0;
  }
}

@media screen and (min-width: 1000px) {
  .mini-bows-list > section:nth-of-type(1) > ul {
    grid-template-columns: repeat(6, 1fr);
  }
  .mini-bows-list> section:nth-of-type(2) > ul {
    grid-template-columns: repeat(4, 1fr);
  }
}
