/********** Customer Assistance Form ***********/
.customer-assistance-form-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%!important;
  z-index: 400;
  float: none!important;
  margin-left: auto;
  margin-right: auto;
  background: hsla(0,0%,98%,.5);
  border-radius: 2px;
  transition: opacity .5s;
  height: 100vh;
  cursor: not-allowed;
}

#customer-assistance-form {
  width: 80%;
  background: #fff;
  margin: 2% auto 0;
  padding: 2rem;
  box-shadow: 0 0 3px 2px #555;
  cursor: default;
  transition: all .5s;
  max-height: 80vh;
  overflow: auto;
  text-align: left;
  margin-top: 2rem;
}

.config-summary-list {
  text-transform: uppercase;
}

.config-summary-list dt {
  font-size: 120%;
  font-weight: 900;
  padding: 1rem;
}

.config-summary-list span {
  font-weight: 900;
}

#customer-assistance-form .form-group {
  text-align: left;
}

#customer-assistance-form button {
  border: 1px solid;
  background: #fff;
  margin: 1rem;
  color: #000;
}

@media screen and (max-width: 767px) {
  #customer-assistance-form {
    width: 85%;
  }
}



a#customize-bow:hover {
  text-decoration: none;
}
