.video-slider {
  color: #fff;
  position: relative;
  margin: 0;
  padding: 0;
}



.video-slider video {
  filter: brightness(0.5);
}

#animated-fullscreen-video-wrapper video {
  filter: brightness(1.0);
}

.video-slider>header {
  position: absolute;
  left: 5.5rem;
  z-index: 1;
}

.video-slider>header h3 {
  font-size: 130%;
}

.video-slider ul:nth-of-type(1) {
  position: relative;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(5, 100%);
  margin: 0;
  min-height: 30rem;
  max-height: 80vh;
}

.video-slider ul:nth-of-type(1) li {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.video-slider ul:nth-of-type(1) li article {
  position: relative;
  height: 100%;
  width: 100%;
}

.video-slider ul:nth-of-type(1) li article img {
  width: auto;
  height: 100%;
  filter: brightness(0.5);
}

.video-slider ul:nth-of-type(1) li article div {
  position: absolute;
  top: 20%;
  left: 5.5rem;
  z-index: 2;
}

.video-slider ul:nth-of-type(1) li article div p {
  text-transform: uppercase;
  font-weight: 300;
  font-family: sans-serif;
}

.video-slider ul:nth-of-type(1) li article div p a {
  color: #fff;
  font-size: 120%;
  font-weight: 700;
}

.video-slider ul:nth-of-type(1) li article div p:nth-of-type(1) {
  padding: 1rem;
}

.video-slider ul:nth-of-type(1) li article div p:nth-of-type(2) a {
  color: #fff;
  border: 1px solid;
  padding: 0.5rem;
}

.video-slider ul:nth-of-type(1) li article div p a:hover, .video-slider ul:nth-of-type(1) li article div p a:focus {
  text-decoration: none;
}

.video-slider ul:nth-of-type(1) li article div header h4 {
  font-size: 430%;
}

.inactive-header {
  position: relative;
  width: 46rem;
  left: -30rem;
  opacity: 0.5;
}

.hidden-visually {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  clip-path: inset(0 0 99.9% 99.9%);
  height: 1px;
  width: 1px;
  padding: 0;
}

.video-slider ul:nth-of-type(2) {
  position: absolute;
  top: 70%;
  left: 4rem;
}

.video-slider ul:nth-of-type(2) li {
  list-style: none;
  margin: 5rem 1rem;
  width: 8px;
  height: 8px;
  float: left;
  position: relative;
}

.video-slider ul:nth-of-type(2) li a {
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  outline: none;
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 0;
}

.video-slider ul:nth-of-type(2) li a.active {
  background: #337ab7;
}

.video-slider .fullscreen-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1000px) {
  .video-slider>header, .video-slider ul:nth-of-type(1) li article div, .video-slider ul:nth-of-type(2) {
    left: 0;
  }

  .inactive-header {
    left: 0px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {

  .video-slider ul:nth-of-type(2) li a {
    width: 14px;
    height: 14px;
  }

  .video-slider ul:nth-of-type(2) {
    top: 88%;
  }

  .video-slider ul:nth-of-type(2) li {
    list-style: none;
    margin: 1rem 1rem;
  }
}

@media screen and (max-width: 767px) {
  .video-slider ul:first-of-type li article div header h4 {
    font-size: 230%;
  }
}
