/************ Patents ************/
#patents .patents-wrapper {
  	margin: 2rem auto;
  	width: 80%;
  	text-align: left;
}

#patents .patents-wrapper dt {
	/* font-size: 3rem; */
  	color: #000;
  	text-transform: uppercase;
    padding: 0.5rem 0;
    font-weight: bold;
}

#patents .patents-wrapper dd {
	/* font-size: 1.8rem; */
  	border: 1px solid #000;
 	background: #fff;
	margin-left: 0;
}

#patents .patents-wrapper a, #patents .patents-wrapper a:focus, #patents .patents-wrapper a:hover {
	color: #337ab7;
    display: block;
    margin-bottom: 0.5rem;
}

#patents .patents-wrapper .patents-info {
	max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-out;
  	border: none;
  	margin-bottom: 0.5rem;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
  	visibility: hidden;
}

#patents .patents-wrapper .patents-info > .patents > p {
	margin: 0;
  text-decoration: underline;
  max-width: 100%;
  width: 100%;
  font-weight: bold;
}

#patents .patents-wrapper .patents-info > .patents {
	padding: 1rem 2rem;
}

#patents .accordion {
  overflow: hidden;
  cursor: pointer;
  color: #337ab7;
}

#patents .accordion .plus-icon, #patents .accordion .minus-icon {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-right: 1px solid;
  margin-right: 0.5rem;
  vertical-align: -0.45em;
  color: #000;
}

@media screen and (max-width: 767px) {
  #patents .patents-wrapper {
  	width: 100%;
  }
  #patents .accordion:before {
    margin-right: 0.5rem;
  }
  #patents .patents-wrapper dt {
    font-size: 2rem;
  }
  #patents .patents-wrapper dd {
    font-size: 1.6rem;
  }
}
