.store-menu-wrapper {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 0vw;
  background-color: transparent;
  transition: background-color 0.5s ease,width 0s ease 0.5s;
}

.store-menu {
  background: rgb(255, 255, 255);
  width: 16rem;
  height: 100%;
  padding: 0.5rem 0;
  text-align: left;
  border-right: 1px solid #333;
  overflow-y: auto;
  position: fixed;
  left: calc(-16rem - 1px);
  transition: left 0.75s ease;
}

.store-menu .elite-logo-black {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  width: 4rem;
}

.store-menu h6 {
  font-size: 1.3rem;
  margin: 0 0 0.25rem;
}

.store-menu ul li, .store-menu ul li a{
  cursor: pointer;
  font-size: .925rem;
  line-height: 1.45;
  display: block;
}

.show-menu, .close-menu {
  border: none;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin: 0 0.5rem 1rem;
  font-weight: 500;
}

.show-menu {
  position: fixed;
  padding: 0.75rem;
  margin-left: 0;
  border: 4px solid;
  z-index: 10;
}

.show-menu .icon, .close-menu .icon {
  margin-right: 0.5rem;
}

.close-menu {
  text-align: right;
  display: block;
  width: calc(100% - 1rem);
}

.store-menu-wrapper.visible {
  transition: width 0s, background-color 0.5s ease;
  width: 100vw;
  background-color: rgba(10,10,10,0.5);
}

.store-menu-wrapper.visible .store-menu {
  left: 0;
}


.filter-property {
  /* border-bottom: 1px solid #ccc; */
  margin: 1rem;
}

.filter-property h6 {
  position: relative;
}

.filter-property h6 .icon-chevron-down {
  position: absolute;
  right: 0;
  transition: all 0.5s ease;
}

.filter-property ul {
  margin: 0.5rem 0;
}

.selected-filter {
  position: relative;
  font-size: 0.9rem;
}

.selected-filter .icon-remove-filter {
  position: absolute;
  top: -0.65rem;
  right: -0.65rem;
  font-size: 1.3rem;
  background-color: #fff;
  border-radius: 50%;
}

.selected-filter + .selected-filter {
  margin-left: 0.75rem;
}

@media screen and (max-width: 900px) {
  .store-menu {
    width: 100%;
    left: calc(-100% - 1px);
  }

  .store-menu ul li, .store-menu ul li a{
    font-size: 1.1rem;
  }
}