#select-bow-dealer {
  position: relative;
}

#select-bow-dealer .info-window > button {
  position: relative;
  font-size: 70%;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: sans-serif;
  padding: 0.5rem 1rem;
  background: #000;
  color: #fff;
  border: 2px solid #fff;
  box-shadow: -2px -1px 9px 5px #ccc;
  margin: 1rem;
}


#select-bow-dealer #dealer-list > .dealer-item > .dealer-button {
  font-size: 70%;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: sans-serif;
  padding: 0.5rem 1rem;
  background: #000;
  color: #fff;
  border: 2px solid #fff;
  box-shadow: -2px -1px 9px 5px #ccc;
  margin: 0.5rem 1rem 1rem;
}



/**** NEW FOR DECEMBER 18TH REVAMP SELECT DEALER MAP ****/

#select-bow-dealer #search-input-wrapper #search-input {
  display: grid;
  grid-template-columns: 1fr auto;
  margin: 1rem 1rem 1.5rem 1rem;
}

#select-bow-dealer #search-input-wrapper #search-input #search-address {
  height: 3rem;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background-color: #efefef;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#select-bow-dealer #search-input-wrapper #search-input #search-address::placeholder {
  color: #333;
}

#select-bow-dealer #search-input-wrapper #search-input .search-button {
  height: 3rem;
  padding: 0 2rem;
  background: #000;
  font-weight: bold;
  color: #fff;
  font-size: 1.2rem;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

#select-bow-dealer #map-content-wrapper {
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  margin-left: 1rem;
}

#select-bow-dealer #map-content-wrapper .toggle-map-dealer-list {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  background-color: #fff;
  border: 1px solid;
  z-index: 2;
  text-transform: uppercase;
  font-size: 1.4rem;
  box-shadow: 0.3rem 0.3rem 1rem 0rem #555;
  min-width: 13rem;
  padding: 0.25rem 0.5rem;
}

#select-bow-dealer #map-content-wrapper .dealer-search-results {
  position: absolute;
  top: 5rem;
  width: 30%;
  height: calc(100% - 5rem);
  background-color: #fff;
  z-index: 2;
  margin: 0;
  padding: 0;
  box-shadow: 1px 1px 28px 1px #555;
  min-width: 22rem;
  text-align: center;
  transform: translate3d(-104%,0,0);
}

#select-bow-dealer #map-content-wrapper .dealer-search-results h5 {
  border-bottom: 1px solid #000;
  padding: 0!important;
  background: #fff;
  color: #000;
  border-radius: 0;
  margin: 0.5rem;
}

#select-bow-dealer #map-content-wrapper .dealer-search-results #dealer-list {
  height: calc(100% - 2.8rem);
  overflow-y: auto;
  margin: 0;
}

#select-bow-dealer #map-content-wrapper .dealer-search-results #dealer-list .dealer-item p {
  margin: 0.5rem;
}

#select-bow-dealer #map-content-wrapper .select-map-search-container .map {
  position: relative;
  height: 30rem;
}

@media screen and (max-width: 768px) {
  #select-bow-dealer #map-content-wrapper .dealer-search-results {
    width: 100%;
    min-width: auto;
  }
  #select-bow-dealer #search-input-wrapper #search-input .search-button {
    padding: 0 1rem;
  }
}