/****** Bow Configure - Select Dealers *****/

#select-bow-dealer {
  height: auto;
  position: relative;
}

#select-bow-dealer .dealer-list-wrapper{
  width: 92%;
  top: 8rem;
  position: static;
  height: 0;
}

#select-bow-dealer .dealer-search-input{
  padding-top: 0.5rem;
  margin: 0 auto;
}

#select-bow-dealer #dealer-list {
  height: 32rem;
  direction: rtl;
}

.dealer-modal-title {
  margin-top: 0 !important;
}

.dealer-modal-close {
  padding: 0.5rem 1rem;
  display: block;
  text-align: right;
  cursor: pointer;
}

.chosen-dealer {
  margin: 0
}

.chosen-dealer dt {
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Roboto Condensed';
}

.dealers-wrapper {
  width: 98%;
  background: #fff;
  border: 1px solid #ccc;

  margin: 1rem 0 1.5rem 0 !important;
  padding: 1rem !important;
}


#select-bow-dealer label {
  display: block;
}

#select-bow-dealer #search-address {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  width: 90%;
}

#select-bow-dealer .search-button {
  padding: .2rem 0.75rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  vertical-align: bottom;
}

@media screen and (max-width: 1285px) {
  #select-bow-dealer #search-address {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  #select-bow-dealer #search-address {
    width: 70%;
  }
}
