/********* GOOGLE FONTS IMPORT **********/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

/********* HTML ELEMENT DEFAULTS **********/
html {
  font-size: 16px;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  margin: 1rem;
  text-transform: uppercase;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

p, address, dl, ul, ol {
  line-height: 1.4;
  margin: 1rem;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
  height: auto;
}
button, [role="button"], input[type="submit"] {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 0;
  touch-action: manipulation;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  display: inline-block;
  text-decoration: none;
  font-size: 1.3rem;
}

label, input, select, textarea {
  font-size: 1rem;
  box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/********* FORM STYLING **********/
.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  font-weight: bold;
  display: inline-block;
  padding-bottom: 0.25rem;
}

.form-group .form-input {
  width: 100%;
  height: 2rem;
  background: #fff;
  min-height: 2rem;
  border-radius: 0.4rem;
  border: 1px solid #ccc;
  padding: 0.25rem 0.5rem;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
}

.form-group textarea.form-input {
  height: auto;
}

.form-group .form-input::placeholder{
  color: #ccc;
}

.form-group .input-group-file {
  display: grid;
  grid-template-columns: auto 1fr;
}

.form-group .input-group-file .form-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.form-group .form-label-file {
  background-color: #337ab7;
  color: #fff;
  border: 1px solid #000;
  border-radius: 0.3rem 0 0 0.3rem;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  padding: 0.5rem 0.5rem 0;
  font-weight: normal;
}

.form-group .form-input-file {
  display: none;
}

.form-input[disabled], .form-input[readonly], fieldset[disabled] .form-input {
    background-color: #eee;
    opacity: 1;
}

.error {
  border: 2px solid red;
  padding: 1rem;
  color: red;
}

.success {
  color: green;
}

.failure {
  color: red;
}

/********* RESPONSIVE WIDTHS **********/
.width-85 {
  width: 85%;
  margin: 0 auto;
}

/********* FIX VIDEOJS SPAN **********/
.video-js span {
  font-size: unset;
  line-height: unset;
}

/********* VIDEOJS BIG PLAY BUTTON CIRCLE **********/
.vjs-big-play-centered .vjs-big-play-button {
  margin-top: -1.25em;
  margin-left: -1em;
}

.video-js .vjs-big-play-button {
  line-height: 2em;
  width: 2em;
  height: 2em;
  border-radius: 100%;
}

/********* STORE COLLECTIONS AND CATEGORY GLOBAL CSS **********/
.free-shipping {
  margin: 0;
  padding: 1rem;
  font-size: 120%;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
}

.breadcrumbs {
  display: flex;
  margin: 1rem;
  flex-wrap: wrap;
}

.breadcrumbs .active {
  color: #777
}

.breadcrumbs li+li:before {
  content: "/\A0";
  padding: 0 5px;
  color: #ccc;
}

.breadcrumbs li a {
  color: #337ab7;
  text-decoration: none;
}

/********* MAIN CONTENT CSS TO HANDLE FIXED NAV HEIGHT **********/

#main-content {
  padding-top: 4rem;
}

/********* CONTENT  ALIGNMENT CSS **********/
.center-content {
  text-align: center;
  padding: 1rem 0;
  margin: 0 auto;
}

.left-content {
  text-align: left;
  padding: 1rem;
}

/********* ELITE CLASSICS SECTION CTA CSS **********/
.elite-classics {
  padding: 2rem;
  background: #fff;
  color: #000;
  text-align: center;
}

.elite-classics p {
  font-size: 1.3rem;
}

.elite-classics a {
  background-color: #337ab7;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
}

/********* BACKGROUND COLOR CSS **********/
.gray-bg {
  background-color: #f3f3f3;
}


@media screen and (max-width: 1000px) {
  html {
    font-size: calc(12px + 0.4vw);
  }
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  h6 {
    font-size: 1rem;
  }

  p, address, dl, ul, ol, .form-group .form-input {
    font-size: 1.2rem;
  }
  .width-85 {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .free-shipping {
    text-align: right;
  }
}